html {
	font-family: 'Cutive Mono', monospace; /* this should be the rest of the output you got from Google fonts */
}

* {
	box-sizing: border-box;
}
/*---- Base styles-------------*/

.image {
    padding: 0;
	margin: 0;
	border: 1px;
	background: linear-gradient(to right, #968362, transparent 150%),
            #968362 url('images/bioimage.jpg') no-repeat center;
	background-size: cover;
	background-position: 20% 10%;
    color: #fafafa;
    font-size: 1.1em;
    text-transform: normal;
    font-weight: normal;
    line-height: 1.7;
    text-shadow: 0 1px 1px rgba(0,0,0,.8);
    text-align: left-side;
}

.main-header__content {
	padding-left: 10px;
	font-size: 1em;
	width: 100%;
	float: left;
}

.content__heading {
    font-size: 1.2em;
    margin-bottom: 0;
}

.content__bio {
    margin-top: 5px;
    margin-bottom: 0;
}

.main-footer {
    font-size: 1.3em;
	width: 100%;
	margin: 0;
    text-align: center;
}

a:link{
	text-decoration: underline;
}


/*------ Media Queries ----------- */

@media (min-width: 50em) {

	.image {
        line-height: 2em;
		background-position: 10% 15%;
        font-weight: bold;
	}

	.main-header,
    .main-footer {
        display: flex;
    }

    .main-footer {
        align-self: center;
        justify-content: flex-start;
    }

	.main-header__content {
		font-size: 1em;
		padding: .1em;
		width: 32%;
		margin: .5rem 10rem .5rem .5rem;
	}

	.content__heading {
        margin-top: 0;
        margin-bottom: 1em;
        font-size: 1.3em;
    }

	.main-footer {
        width: 100%;
	}

	.clearfix::after {
	  content: "";
	  display: table;
	  clear: both;
	}
}

a:hover,
a:active {
	color: white;
}

.footer_whats-more {
    color: #f7d26a;
}

