html {
	font-size:20px; 
	font-family: "Satirfy", satisfy; /* this should be the rest of the output you got from Google fonts */
}

body {
	color: #5c95ad;
	margin-top: 0 auto;
	font-size: 1em;
	line-height: 4;
}

body {
	background-image: url("../websites/images/resumeimage.jpg")
	background: linear-gradient(#caf6fc, transparent 90%), 
				linear-gradient(0deg, #fff, transparent),
				#caf6fc url("../websites/images/resumeimage.jpg") no-repeat center;
				
	background-size: cover;
}

.title {
	color: #5c95ad;
	font-size: 1.625rem;
	letter-spacing: .065em;
	font-weight: 200;
}
/*html {
  background-color: #ebfbfc; /* #e8fdff */
}*/

.main-nav {
	list-style-type: none;
	padding: 0;
	display: inline-block;
}

li {
	float: left;
	overflow: auto;
}

li a:hover {
	color: #d99f11; /*#DAA520*/
}
li a {
	color: #5c95ad;
	width: 400px;
	margin: 0 auto;
	padding: 0px 20px 20px 20px;
}

a:link {
	text-decoration: none;
	list-style-type: none;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 2px;
  background-color: #5c95ad;
  margin: 5px 0;
  transition: 0.2s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-3px, 1px);
  transform: rotate(-45deg) translate(-3px, 1px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

img {
	max-width: 100%;
}


/* Media Queries */

@media (max-width: 1024px) {
	header {
		width: 90%;
	}
	.navigation {
		font-size: .65;
	}
}





