/*web Fonts---------------*/

html {
	font-family: "Satirfy", satisfy; /* this should be the rest of the output you got from Google fonts */
}

/*Base styles-------------*/

* {
	box-sizing: border-box;
}

html {
    height: 50.7rem;
}

body {
    font-family: "Satirfy", satisfy;
	background: linear-gradient(#968362/*#caf6fc*/, transparent 90%),
            #968362 url('images/resumeimage4.jpg') no-repeat center;
	background-size: cover;
	background-position: 98% 10%;
}

.main-header__nav a
.main-header__name a {
    display: block;
    text-align: center;
    margin: .1em;
	padding: 0 .1em;
}

ul {
    display: flex;
}

.main-header__name a {
    color: black;
}

.main-header__name {
    font-size: 2.3em;
    font-weight: normal;
    line-height: 1.3;
    text-shadow: 0 1px 1px rgba(0,0,0,.8);
    margin: .3em 1em;}

.main-header__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

.main-header__nav li {
	overflow: hidden;
	margin: 0.4em;
	font-size: 1.15em;
}



.item a {
	color: #0f3133;
	padding: 0 .4em .4em .4em;
}

a:link {
	text-decoration: none;
	list-style-type: none;
}

.item a:hover {
	color: #d4af37 ; /*#DAA520*/
}

/*.bar1, .bar2, .bar3 {
  width: 1.56rem;
  height: 0.125rem;
  background-color: #0f3133;
  margin: 0.313rem auto;
  transition: 0.2s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-3px, 1px);
  transform: rotate(-45deg) translate(-3px, 1px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}*/

.social-media__container {
    position: absolute;
    right: 1.5em;
    bottom: 7.2em;
}

.social-media__icons {
    display: flex;
    display-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
	text-align: right;
}

.social-media__icons li{
    overflow: hidden;
}




/*----- Main Styles------------*/

.social-media__email {
	text-align: right;
}


.main-footer {
	font-size: 0.7em;
	text-align: right;
	color: #d4cec5;
    position: absolute;
    right: 1.5rem;
    bottom: 0
}

.email {
    color: #968362;
}

.main-footer__copyright {
    color: #d4af37;
}


/*Media Queries ----------- */

@media (min-width: 768px) {

    html {
        height: 100%;

    }
    .social-media__container {
        margin-bottom: 2.7em;
    }

    .main-header__nav,
    .main-header__name {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-header__container {
        margin: 35em 10em;
    }

    .main-header__nav a{
        font-size: 1.2em;
        margin-right: 0.5em;
    }

/*        .main-header__name,
        .item {
            max-width: 100%;
            display: grid;
            grid-template-columns: 1;
            grid-template-rows: 1fr;
        }*/

/*        .main-header__nav {
            max-width: 30%;
            display: grid;
            grid-template-columns: 1.3fr 1fr 1fr;
            grid-template-rows: 1fr;
        }*/

    .main-header {
        margin: 1.5em;
    }
}


@media (min-width: 1024px) {

    body {
         background-position: 30% 70%;
    }

   /* body{
       width: 100%;
        height: 41em;*/
/*        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-end;*/
/*        background: linear-gradient(#968362/*#caf6fc*//*, transparent 90%),
        #968362 url('images/resumeimage4.jpg') no-repeat center;
        background-size: cover;
        background-position: 40% 60%;
    }*/


/*    .social-media__container {
        height: 2.5em;
    }*/

    }
}

@media (min-width:
