@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);

/* --- Malvina make more comment --- */


/*---- Base styles-------------*/
body {
  font: 16px/20px 'Cutive Mono', serif;
}

a {
  color: #222;
}

.wrap {
  width: 75%;
  margin: 30px auto;
  text-align: center;
}

.test {
	margin: 20px;
	text-align: left;
	height: 100px;
}

.callout {
	padding-top: 0 9px 3px;
	margin-top: 200px;
	display: block;
	text-align: center;
}

/* ---- Media Queries ----*/

@media (min-width: 769px) {

}
